<?xml version="1.0"?>

<model>
  <name>Hokuyo UTM-30LX</name>
  <version>1.0</version>
  <sdf version="1.5">hokuyo_utm30lx.sdf</sdf>

  <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author>

  <description>
    A model of a Velodyne HDL-32 LiDAR sensor.
  </description>

</model>