<launch>

    <node pkg="finderbot" name="global_mapping" type="global_map_node" output="screen" />

    <node pkg="finderbot" name="exploration" type="path_execution_node" output="screen" />

    <node pkg="finderbot" name="SPI" type="spi_node" output="screen" />

    <node pkg="finderbot" name="uwb" type="UWB_scan_node" output="screen" />

    <param name="simulated_env" type="bool" value="true" /> 

</launch>