<launch>
    
    <node pkg="finderbot" name="mini_mapping" type="mini_mapping_node" output="screen" />
   
    <node pkg="gazebo_ros" name="gazebo_launch" type="gazebo" args="/home/jon/catkin_ws/src/finderbot/FinderBot_Gazebo/simple_maze.world"/>

    <node pkg="finderbot" name="transformer" type="transform_node" />

    <node pkg="finderbot" name="simple_motion" type="simple_motion_node" />

    <node pkg="finderbot" name="global_mapping" type="global_map_node" output="screen" />

</launch>